        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="d-none d-md-flex col-md-4 col-lg-6 bg-imageRegister"></div>
                <div class="col-md-8 col-lg-6">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-8 mx-auto">
                                    <h3 class="login-heading mb-4">Welcome to your new database</h3>
                                    <form method="POST" action="/register">
                                        {{#if errors}}
                                            {{#each errors}}
                                                <div class="alert alert-success" role="alert">
                                                    {{this.msg}}
                                                </div>
                                            {{/each}}
                                        {{/if}}
                                        <div class="form-label-group">
                                            <p for="inputEmail">Email address</p>
                                            <input type="text" id="inputEmail" class="form-control"
                                                placeholder="Email address" name="email">
                                        </div>

                                        <div class="form-label-group">
                                            <p for="usernameEmail">Username</p>
                                            <input type="text" id="inputEmail" class="form-control"
                                                placeholder="Username" name="userName">                                           
                                        </div>

                                        <div class="form-label-group">
                                            <p for="inputPassword">Password</p>
                                            <input type="password" id="inputPassword" class="form-control"
                                                placeholder="Password" name="password">
                                        </div>

                                        <div class="form-label-group">
                                             <p for="inputPassword2">Recheck password</p>
                                            <input type="password" id="inputPassword" class="form-control"
                                                placeholder="Password" name="recheckPassword">
                                        </div>
                                        <button
                                            class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                            type="submit">Sign up
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>